aside,
body,
button,
form,
h1,
h2,
h3,
header,
html,
iframe,
li,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --bg-color: #272727;
  --header-color: #d33847;
  --delete-color: #3847d3;
}

.hidden {
  display: none;
}

html {
  height: 100%;
}

a,
a:visited {
  color: inherit;
}

body {
  background: var(--bg-color);
  font-family: 'Noto Sans';
  height: 100%;
  overflow-y: hidden;
}

button {
  border: none;
  cursor: pointer;
}

header {
  align-items: center;
  background: var(--header-color);
  display: flex;
  font-family: 'Noto Sans';
  height: 40px;
  justify-content: center;
}

header h1 {
  text-align: center;
  width: 100%;
}

header h1 a {
  text-decoration: none;
}

header .menu-button {
  cursor: pointer;
  margin-left: 5px;
  font-size: 180%;
}

header .menu-button:hover {
  color: rgb(216, 216, 216);
}

h3 {
  margin: 10px 0;
}

/* All forms should look more or less the same apart from login */
form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  margin: 10px;
}

form#login {
  flex-direction: column;
  justify-content: center;
}

form input {
  text-align: center;
}

#menu-toggle {
  left: -9999px;
  position: absolute;
}

#menu-toggle:checked + #app aside.sidebar {
  display: none;
}

#menu-toggle:checked + #app main {
  width: calc(100% - 2vw);
}

form#login {
  font-size: 24px;
  height: calc(100vh - 40px);
}

form#login input {
  margin: 10px 0;
}

form#login input[name='password'] {
  line-height: 5vh;
}

form#login input[type='submit'] {
  padding: 10px 40px;
}

#app {
  display: flex;
  height: calc(100% - 40px);
}

form input {
  vertical-align: middle;
}

span.delete {
  cursor: pointer;
  display: inline-block;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  width: 20px;
}

.sublist span.rename:hover,
.sublist span.delete:hover {
  transform: scale(1.5) translateX(1px);
}

.feeds-add {
  display: flex;
  flex-direction: column;
}

.feeds-add textarea {
  resize: vertical;
}

.feeds-add.done {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px auto 30%;
  margin-top: 10px;
}

.feeds-add.done img {
  width: 100%;
}

aside {
  background: #373535;
  min-height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  width: 320px;
}

.sidebar {
  color: #d8d8d8;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .title {
  display: flex;
  font-size: 110%;
  justify-content: space-between;
}

.sidebar .link {
  cursor: pointer;
}

.sidebar .title span {
  flex: 2;
}

.sidebar .title .button {
  background: var(--header-color);
  color: black;
  cursor: pointer;
  font-size: 140%;
  font-weight: bold;
  margin-left: 10px;
  padding: 0 2px;
  text-decoration: none;
}

.sidebar ul {
  padding: 0 10px;
}

.sidebar ul > li {
  margin-bottom: 20px;
}

.sidebar li.sublist {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.sidebar li.sublist span.delete {
  color: var(--delete-color);
}

.sidebar li.sublist span {
  line-height: 1.4em;
}

.sidebar li.sublist {
  margin: 20px 0;
}

.sidebar li.sublist span.name:hover,
.sidebar li.sublist.active > .title,
.sidebar li.active > .title {
  color: var(--header-color);
  font-weight: bold;
}

.sidebar li.unread {
  font-weight: bold;
}

main {
  color: white;
  height: calc(100% - 2vh);
  overflow-x: auto;
  overflow-y: auto;
  padding: 1vh;
  position: relative;
  width: calc(100vw - 320px);
}

main h1 {
  height: 1em;
  line-height: 1em;
}

main article {
  border-bottom: solid 1px lightgrey;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

main article a {
  color: lightgrey;
}

main article img {
  max-width: 100%;
}

#timelines {
  height: 100%;
  width: 100%;
}

#timelines-manager {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  left: 10px;
  padding: 10px;
  position: absolute;
  top: 10px;
  z-index: 999;
}

#timelines-manager li {
  cursor: pointer;
  padding: 5px;
}

#timelines-manager form input {
  margin: 5px 0;
}

canvas {
  height: 100%;
  width: 100%;
}

.books {
  align-items: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
}

.book {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'a b' 'a c';
}

.book .title {
  font-weight: bold;
}

.book img {
  align-self: center;
  grid-area: a;
}

.book .button {
  align-self: end;
  max-width: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  padding: 10px;
}

button.delete {
  align-self: end;
  background: var(--delete-color);
  margin-left: auto;
  padding: 5px;
}

.category.active {
  background: var(--header-color);
}
